In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.2.2'

In [3]:
df = pd.read_parquet('yellow_tripdata_2021-01.parquet')
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1.0,2.10,1.0,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5,NaN
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1.0,0.20,1.0,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0,NaN
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1.0,14.70,1.0,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0,NaN
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0.0,10.60,1.0,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0,NaN
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1.0,4.94,1.0,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5,NaN

In [39]:
df_green = pd.read_csv('green_tripdata_2019-10.csv.gz')
df_green.head()

/tmp/ipykernel_32058/638441934.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_green = pd.read_csv('green_tripdata_2019-10.csv.gz')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,0.50,0.5,0.00,0.0,NaN,0.3,19.30,2.0,1.0,0.0
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,3.25,0.5,0.00,0.0,NaN,0.3,9.05,2.0,1.0,0.0
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,0.50,0.5,0.00,0.0,NaN,0.3,22.80,2.0,1.0,0.0
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,0.50,0.5,0.00,0.0,NaN,0.3,6.80,2.0,1.0,0.0
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,0.50,0.5,2.26,0.0,NaN,0.3,13.56,1.0,1.0,0.0

In [40]:
df_zones = pd.read_csv('taxi_zone_lookup.csv')
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [41]:
def segmentation_count(value):
    if value <= 1:
        return 1
    elif value <=3:
        return 2
    elif value <=7:
        return 3
    elif value <=10:
        return 4
    else:
        return 5

In [42]:
df_green['segmentation'] = df_green['trip_distance'].apply(lambda x:segmentation_count(x))

In [43]:
df_green[(df_green['lpep_pickup_datetime'] >= '2019-10-01') & (df_green['lpep_dropoff_datetime'] < '2019-11-01')].groupby('segmentation').count()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
segmentation,,,,,,,,,,,,,,,,,,,,
1,99689,104802,104802,99689,99689,104802,104802,99689,104802,104802,104802,104802,104802,104802,0,104802,104802,99689,99687,99689
2,183447,198924,198924,183447,183447,198924,198924,183447,198924,198924,198924,198924,198924,198924,0,198924,198924,183447,183447,183447
3,76991,109603,109603,76991,76991,109603,109603,76991,109603,109603,109603,109603,109603,109603,0,109603,109603,76991,76991,76991
4,14752,27678,27678,14752,14752,27678,27678,14752,27678,27678,27678,27678,27678,27678,0,27678,27678,14752,14752,14752
5,11940,35189,35189,11940,11940,35189,35189,11940,35189,35189,35189,35189,35189,35189,0,35189,35189,11940,11940,11940

In [44]:
df_green[df_green['trip_distance'] == df_green['trip_distance'].max()]

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,segmentation
386795,2.0,2019-10-31 23:23:41,2019-11-01 13:01:07,N,5.0,129,265,1.0,515.89,100.0,...,0.0,0.0,0.0,NaN,0.3,103.05,2.0,1.0,0.0,5

In [50]:
# df_green['PU_LOCATION_BOROUGH'] = df_green['PULocationID'].apply(lambda x : df_zones[df_zones['LocationID'] == x]['Borough'])
df_green = pd.merge(df_green, df_zones, how='left', left_on='PULocationID', right_on='LocationID', suffixes=['','_PU'])
# df_green = pd.merge(df_green, df_zones, how='left', left_on='DOLocationID', right_on='LocationID', suffixes=['','_DO'])

In [51]:
df_green.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,...,Zone,service_zone,LocationID_DO,Borough_DO,Zone_DO,service_zone_DO,LocationID_PU,Borough_PU,Zone_PU,service_zone_PU
0,2.0,2019-10-01 00:26:02,2019-10-01 00:39:58,N,1.0,112,196,1.0,5.88,18.0,...,Greenpoint,Boro Zone,196,Queens,Rego Park,Boro Zone,112,Brooklyn,Greenpoint,Boro Zone
1,1.0,2019-10-01 00:18:11,2019-10-01 00:22:38,N,1.0,43,263,1.0,0.80,5.0,...,Central Park,Yellow Zone,263,Manhattan,Yorkville West,Yellow Zone,43,Manhattan,Central Park,Yellow Zone
2,1.0,2019-10-01 00:09:31,2019-10-01 00:24:47,N,1.0,255,228,2.0,7.50,21.5,...,Williamsburg (North Side),Boro Zone,228,Brooklyn,Sunset Park West,Boro Zone,255,Brooklyn,Williamsburg (North Side),Boro Zone
3,1.0,2019-10-01 00:37:40,2019-10-01 00:41:49,N,1.0,181,181,1.0,0.90,5.5,...,Park Slope,Boro Zone,181,Brooklyn,Park Slope,Boro Zone,181,Brooklyn,Park Slope,Boro Zone
4,2.0,2019-10-01 00:08:13,2019-10-01 00:17:56,N,1.0,97,188,1.0,2.52,10.0,...,Fort Greene,Boro Zone,188,Brooklyn,Prospect-Lefferts Gardens,Boro Zone,97,Brooklyn,Fort Greene,Boro Zone

In [52]:
df_green[(df_green['lpep_pickup_datetime'] >= '2019-10-18') & (df_green['lpep_pickup_datetime'] < '2019-10-19')].groupby('Zone_PU')['total_amount'].sum().sort_values(ascending=False)

Zone_PU
East Harlem North                   18686.68
East Harlem South                   16797.26
Morningside Heights                 13029.79
Central Harlem                      12440.66
Elmhurst                            12431.96
                                      ...
Heartland Village/Todt Hill            24.80
Inwood Hill Park                       24.03
Forest Park/Highland Park              21.30
Pelham Bay Park                        12.80
Saint Michaels Cemetery/Woodside        7.60
Name: total_amount, Length: 234, dtype: float64

In [53]:
df_green.columns

Index(['VendorID', 'lpep_pickup_datetime', 'lpep_dropoff_datetime',
       'store_and_fwd_flag', 'RatecodeID', 'PULocationID', 'DOLocationID',
       'passenger_count', 'trip_distance', 'fare_amount', 'extra', 'mta_tax',
       'tip_amount', 'tolls_amount', 'ehail_fee', 'improvement_surcharge',
       'total_amount', 'payment_type', 'trip_type', 'congestion_surcharge',
       'segmentation', 'LocationID', 'Borough', 'Zone', 'service_zone',
       'LocationID_DO', 'Borough_DO', 'Zone_DO', 'service_zone_DO',
       'LocationID_PU', 'Borough_PU', 'Zone_PU', 'service_zone_PU'],
      dtype='object')

In [59]:
df_green[(df_green['lpep_pickup_datetime'] >= '2019-10-01') & (df_green['lpep_pickup_datetime'] < '2019-11-01') & (df_green['Zone_PU'] == 'East Harlem North')].sort_values('tip_amount')

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge,segmentation,LocationID,Borough,Zone,service_zone,LocationID_DO,Borough_DO,Zone_DO,service_zone_DO,LocationID_PU,Borough_PU,Zone_PU,service_zone_PU
180382,2.0,2019-10-15 09:50:19,2019-10-15 09:54:04,N,1.0,74,75,1.0,0.78,-4.50,0.00,-0.5,-1.06,0.00,NaN,-0.3,-6.36,3.0,1.0,0.00,1,74,Manhattan,East Harlem North,Boro Zone,75,Manhattan,East Harlem South,Boro Zone,74,Manhattan,East Harlem North,Boro Zone
476340,NaN,2019-10-31 22:08:00,2019-10-31 22:43:00,NaN,NaN,74,39,NaN,21.20,36.73,2.75,0.5,0.00,6.12,NaN,0.0,46.10,NaN,NaN,NaN,5,74,Manhattan,East Harlem North,Boro Zone,39,Brooklyn,Canarsie,Boro Zone,74,Manhattan,East Harlem North,Boro Zone
296115,2.0,2019-10-24 14:21:02,2019-10-24 14:23:50,N,1.0,74,74,1.0,0.41,4.00,0.00,0.5,0.00,0.00,NaN,0.3,4.80,2.0,1.0,0.00,1,74,Manhattan,East Harlem North,Boro Zone,74,Manhattan,East Harlem North,Boro Zone,74,Manhattan,East Harlem North,Boro Zone
150025,1.0,2019-10-12 14:36:37,2019-10-12 14:52:33,N,1.0,74,69,1.0,2.40,12.00,0.00,0.5,0.00,0.00,NaN,0.3,12.80,2.0,1.0,0.00,2,74,Manhattan,East Harlem North,Boro Zone,69,Bronx,East Concourse/Concourse Village,Boro Zone,74,Manhattan,East Harlem North,Boro Zone
296171,1.0,2019-10-24 15:26:50,2019-10-24 15:38:33,N,1.0,74,166,1.0,1.80,10.00,0.00,0.5,0.00,0.00,NaN,0.3,10.80,2.0,1.0,0.00,2,74,Manhattan,East Harlem North,Boro Zone,166,Manhattan,Morningside Heights,Boro Zone,74,Manhattan,East Harlem North,Boro Zone
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251261,2.0,2019-10-20 15:14:27,2019-10-20 16:18:12,N,3.0,74,1,1.0,26.61,93.00,0.00,0.0,26.45,12.50,NaN,0.3,132.25,1.0,1.0,0.00,5,74,Manhattan,East Harlem North,Boro Zone,1,EWR,Newark Airport,EWR,74,Manhattan,East Harlem North,Boro Zone
49,2.0,2019-10-01 00:42:36,2019-10-01 00:43:02,N,1.0,74,74,1.0,0.00,2.50,0.50,0.5,35.00,0.00,NaN,0.3,38.80,1.0,1.0,0.00,1,74,Manhattan,East Harlem North,Boro Zone,74,Manhattan,East Harlem North,Boro Zone,74,Manhattan,East Harlem North,Boro Zone
296026,2.0,2019-10-24 14:35:52,2019-10-24 14:36:32,N,1.0,74,74,1.0,0.02,2.50,0.00,0.5,40.00,0.00,NaN,0.3,43.30,1.0,1.0,0.00,1,74,Manhattan,East Harlem North,Boro Zone,74,Manhattan,East Harlem North,Boro Zone,74,Manhattan,East Harlem North,Boro Zone
340287,2.0,2019-10-28 06:05:56,2019-10-28 06:09:47,N,1.0,74,263,1.0,1.45,6.00,0.00,0.5,80.88,0.00,NaN,0.3,90.43,1.0,1.0,2.75,2,74,Manhattan,East Harlem North,Boro Zone,263,Manhattan,Yorkville West,Yellow Zone,74,Manhattan,East Harlem North,Boro Zone
308891,2.0,2019-10-25 15:50:05,2019-10-25 16:50:07,N,2.0,74,132,4.0,17.01,52.00,0.00,0.5,87.30,6.12,NaN,0.3,146.22,1.0,1.0,0.00,5,74,Manhattan,East Harlem North,Boro Zone,132,Queens,JFK Airport,Airports,74,Manhattan,East Harlem North,Boro Zone